*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Young Serif", serif;
}
.container{
    padding: 50px;
}
.section-one{
    background-color: black;
    color: aliceblue;
    padding: 20px;
}
.section-one__contact{
    background-color: orange;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: inline-block;
    margin-top:10px ;

}
.section-one__name{
    font-size: 60px;
}
.section-one__designation{
    font-size: 50px;
}
.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top: 10px;
}
.section-five{
    background-color: black;
    color: aliceblue;
}
.section-five a{
    color: aqua;
}
.section-three li,.section-four li{
    list-style: none;
}

.section-three{
    background-color: #6462FD;
    color: black;
    display: inline-block;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
.section-four{
    background-color: #FE7517;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
.contact{
    margin: 10px;
}
.contact__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 20px;
}
.contact__input{
padding: 10px;
border: none;
border-bottom: solid black 1px;
}
.contact__textarea{
    padding: 10px;
    border: none;
    border: solid black 1px;
    }
    .contact__submit{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #FE7517;
        color: black;
        border: none;
        }